<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
	<title>ADNbyte - Aplicaciones y Desarrollo Web</title>
</head>
<body>
	<div class="content">
		<div class="logo">
			<img src="assets/adnbyte.svg" alt="">
		</div>
		<div class="slogan">
			<img class= "slogan__plane" src="assets/plane.svg" alt="">
			<span class="slogan__label">
				<a href="mailto:adnbyte@adnbyte.com">
					interactua@adnbyte.com
				</a>
			</span>
		</div>
	</div>
</body>
</html>